.limit-indicator{
    background-color: rgba(239,85,85,0.1);
    border-radius: 8px;
    padding: 10px 14px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.limit-indicator > img {
    width: 16px;
    height: 16px;
}

.limit-indicator > p{
    font-size: 16px;
    margin: 0 0 0 8px;
}