.my-tribe-container{
    width:80%;
    display: flex;
    min-height:80%;
    margin:0px 10% 0px 10%;
}
.tribe-user-activity-container{
    width:70%;
    display:flex;
    flex-direction:column;
    margin-right:4%;
}
.tribe-user-activity-container{
    width:70%;
    display:flex;
    flex-direction:column;
    margin-right:3%;
}
.activity-list{
    width:30%;
    display:flex;
    flex-direction:column;
    height:100vh;
    border-left: 1px solid #E6E9ED;
    border-right: 1px solid #E6E9ED;
    background-color: white;
    position: sticky;
    top: 0;
}
.activity-list>.label{
    margin-top:15px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    border-bottom: 1px solid #E6E9ED;
    height:60px;
}

.activity-list>.list{
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    min-height:90%;
    margin-bottom:100px
}

.activity-list>.list>.item{
    display:flex;
    flex-direction: column;
    height:75px;
}

.activity-list>.list>.item>div{
    display:flex;
    flex-direction: column;
    padding:16px;
}
.activity-list-link{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #297AF7;
    margin-left:85%;
}
.activity-title{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;  
    color: #2E2E2E;
}

.activity-details{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #A7ABB0;
    margin-top:-10px;
}
.my-tribe-add-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:150px;
    margin-left:50px;
}
.my-tribe-add-container-secondary{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:20px;
    height:120px;
    margin-left:50px;
}
.my-tribe-add-container-no-members{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-top:-50px;
    color: #2E2E2E;
}
.my-tribe-add-container-no-members-secondary{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-top:50px;
    color: #2E2E2E;
}
.my-tribe-add-container-no-members-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #2E2E2E;
}
.my-tribe-add-container-add-members{
    width:150px;
    border-radius: 8px;
}
.tribe-member-activity-list{
    height:100%;
    display:flex;
    flex-direction:column;   
    margin-top: 15px;
}
.search-tribe-members-activity-and-edit{
    height:80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index:2
}
.tribe-member-activity-list>.members-list{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;  
}
.member-card-container{
    background: #F8F9FA;
/* colors/quaternary-grey */
    width:48%;
    height:145px;
    border: 1px solid #E6E9ED;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 4%;
}
.member-card-container>.inner{
    border-bottom: 1px solid #E6E9ED;
    display:flex;
    align-items:center;
    margin:25px 15px 0px 15px;
    padding-bottom:20px;
}
.member-card-container>.inner>img{
    width: 18%
}
.member-card-container>.inner>div{
    width: 80%;
}
.view-member-activity{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #297AF7;
    cursor: pointer;
    margin-top:10px;
    margin-left:25px;
}

.autosuggest-suggestions-container-tribe-members {
    width: 26%;
    left: auto !important;
    transform: unset !important;
    border-radius: 8px;
    /* border: 1px solid #E6E9ED; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    z-index: 5;
    position: absolute;
    background-color: white;
}

.autosuggest-suggestions-container-tribe-members > ul{
    /* border: 1px solid #E6E9ED; */
    min-width:100%;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0px;
    list-style: none;
    padding-left: 0;
    max-height: 350px;
    overflow: auto;
}

.suggestion-item-tribe-members {
    cursor: pointer;
    padding: 8px 8px;
    height: 100px;
    margin: 8px 0px;
    z-index:5;
    /* border-bottom: 1px solid #E6E9ED; */
    background-color: white;
}

.suggestion-item-tribe-members:hover{
    background-color: rgba(41, 122, 247, 0.05);
}

.tribe-members{    
    box-sizing: border-box;
    height: 42px;
    padding: 16px;
    background: #F5F6F7;
    margin-top: 4px;
    margin-bottom: 12px;
    border-radius: 8px;
    outline: none;
    border: none;
    width:48%;
}
.tribe-members-name{    
    box-sizing: border-box;
    height: 42px;
    padding: 16px;
    background-color: #F8F9FA;
    margin-bottom: 12px;
    border-radius: 8px;
    outline: none;
    border: none;
    width:100%;
    color: #A7ABB0;
    
}
.autosuggest-suggestions-tribe-container > ul > li > div{
    line-height: 20px;
}
.tribe-autosuggest-name{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #2E2E2E;
}
.tribe-autosuggest-email{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #A7ABB0;
}
.tribe-autosuggest-renderedSuggestion{
    margin:0px 10px 10px 10px;
    word-break: 'break-word';
    display:flex;
    align-items:center;
    height:100%;
}

.tribe-member-suggestion-display-picture{
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 8px;   
}

.member-activity-top-container{
  
   height:58px;
}
.member-activity-top-container>.inner{
    width:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 10% 0px 10%;
    height:100% ;
}

.member-activity-top-container>.inner>div{
    display:flex;
    align-items: center;
    justify-content: center;
}
.activity-member-tag{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #2E2E2E;
    margin-top:20px;
}
.member-activity-container{
    width:50%;
    display:flex;
    justify-content: center;
    margin:10px 25% 0px 25%;
}
.no-activity-label{
    margin-top: 200px;
    align-self: center;
    margin-left: 45%;
}
.member-activity-container>.inner{
    background-color: white;
    min-width:400px;

}
.member-activity-item{
    margin-top:10px;
    height:45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5rem;
}
.member-activity-item>.activity-title{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #2E2E2E;
    margin-left: 0.5rem;
}
.member-activity-item>.activity-details{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #A7ABB0;
    margin-left: 0.5rem;
}

.member-activity-view-back-button{
    margin-right: 12px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border-color: #A7ABB0;
    background-color: white;
    color:#A7ABB0;

}
    .member-activity-view-back-button:hover{
    border-radius: 8px;
    border-color: #A7ABB0;
    background-color: white;
    color:#A7ABB0;
}

ul.experiences {
    padding-left: 15px;
    margin-top: -1px;
}
ul.experiences li {
    position:relative; 
    margin-bottom: 0; 
    padding-bottom: 0.5em;
    list-style:none;
}
ul.experiences li:after { 
    content: '•';
    position: absolute;
    left: -21px; 
    line-height: 20px;
    font-size: 30px;
    top: 0px;
    color: #CDD1D7;
}

ul.experiences li:before {  
    content:"";
    position: absolute;
    left: -13px; 
    border-left: 1px solid #CDD1D7;
    height: 90%;
    top: 20px;
}

ul.experiences li:first-child:before {
   top: 20px; 
}

ul.experiences li:last-child:before { 
   height:0px; 
}
