.new-note-root{

}

.new-note-root > h1 {
    font-size: 16px;
    /* font-weight: bold; */
    color: #2E2E2E;
}

.new-note-root > textarea {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    border: 1px solid #E6E9ED;
    padding: 8px;
}

.new-note-root > div {
    display: flex;
    justify-content: flex-end;
}

.new-note-root > div > p:nth-child(1){
    color: #A7ABB0;
    cursor: pointer;
}
.new-note-root > div > p:nth-child(2){
    color: #297AF7;
    cursor: pointer;
    margin-left: 16px;
}
